@{
    Layout = "~/Pages/Layouts/_BasicLayout.cshtml";
}

<div class="App_Error">
    <div class="Error_Container">
        <h1>Something went wrong. You will be sign out</h1>
    </div>
</div>

@{
    SocialNetwokPL.LogContent.LogHandler.WriteLog("Error has occurred on " + Request["aspxerrorpath"]);
    FormsAuthentication.SignOut();
}
