@using Entities;
@using Dependencies;
@using EPAM.SocialNetwork.BLL.Interfaces;

@{
    FormsAuthentication.SignOut();
    Layout = "~/Pages/Layouts/_BasicLayout.cshtml";
    ILogic logic = DependencyResolver.GetInstance().UserLogic;
}

@{
    if (IsPost)
    {
        User user = logic.GetUser(Request["loginInput"]);

        if (user != null)
        {
            if (user.GetPassword() == Request["passwordInput"])
            {
                FormsAuthentication.SetAuthCookie(user.Login, true);

                Response.Redirect("~/Pages/UserPage.cshtml");
            }
        }
    }
}

<form method="post" name="loginForm" class="Login_From">
    <h1 class="Form_Title">Login form</h1>
    <div class="form-group Form_Element">
        <label for="loginId">Login</label>
        <input type="text" class="form-control" id="loginId" aria-describedby="emailHelp" placeholder="Enter login" name="loginInput">
    </div>
    <div class="form-group Form_Element">
        <label for="passwordId">Password</label>
        <input type="password" class="form-control" id="passwordId" placeholder="Password" name="passwordInput">
    </div>
    <button type="submit" class="btn btn-primary Form_SubmitButton">Sign in</button>
</form>

<button id="toRegisterPage" class="Button_PageSwap">To register</button>

<script src="~/CustomScripts/PageRedirections.js"></script>
<script src="~/CustomScripts/ValidationScripts.js"></script>