@using Dependencies;
@using EPAM.SocialNetwork.BLL.Interfaces
@using Entities;

@*@{if (!User.IsInRole("user"))
    {
        Response.Redirect("~/Pages/Login.cshtml");
    }
}*@

@{
    Layout = "~/Pages/Layouts/_BasicLayout.cshtml";
    ILogic logic = DependencyResolver.GetInstance().UserLogic;

    //User currentUser = logic.GetUser(User.Identity.Name);
}
<div class="UserPage_Style">
    <header class="head">(place for image) User full name: @*@currentUser.FirstName @currentUser.LastName*@ </header>

    <div class="Content">
        <div class="Content_Left">
            @*<div class="row">
                    <div class="col-4">
                        <div class="list-group" id="list-tab" role="tablist">
                            <a class="list-group-item list-group-item-action active" id="list-home-list" data-bs-toggle="list" href="#list-home" role="tab" aria-controls="list-home">Home</a>
                            <a class="list-group-item list-group-item-action" id="list-profile-list" data-bs-toggle="list" href="#list-profile" role="tab" aria-controls="list-profile">Profile</a>
                            <a class="list-group-item list-group-item-action" id="list-messages-list" data-bs-toggle="list" href="#list-messages" role="tab" aria-controls="list-messages">Messages</a>
                            <a class="list-group-item list-group-item-action" id="list-settings-list" data-bs-toggle="list" href="#list-settings" role="tab" aria-controls="list-settings">Settings</a>
                        </div>
                    </div>
                </div>*@
        </div>

        <div class="Content_Middle">
            @*<div class="col-8">
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">message history</div>
                        <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">message history</div>
                        <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">message history</div>
                        <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">message history</div>
                    </div>
                </div>*@

            <div class="Message_History">
                <div class="Message"><p>Hello</p></div>
                <div class="Message Recieved"><p>Bye</p></div>
            </div>

            <textarea class="TextField"></textarea>
        </div>

        <div class="Content_Right">some settings</div>
    </div>

    <footer>hi :)</footer>
</div>