@using Dependencies;
@using EPAM.SocialNetwork.BLL.Interfaces
@using Entities;

@{if (!User.IsInRole("user"))
    {
        Response.Redirect("~/Pages/Login.cshtml");
    }
}

@{
    Layout = "~/Pages/Layouts/_BasicLayout.cshtml";
    ILogic logic = DependencyResolver.GetInstance().UserLogic;

    User currentUser = logic.GetUser(User.Identity.Name);

    List<User> foundUsers = new List<User>();

    string queryData = "";

    if (Request.HttpMethod == "GET" && Request.QueryString.Count > 0)
    {
        queryData = Request.QueryString.Get(0);
        foundUsers = logic.GetSpecificUsers(queryData);

        if (Request.QueryString.AllKeys.Contains("redirectToUser"))
        {
            Response.Redirect("~/Pages/UserPersonalPage.cshtml?viewedUser=" + Request.QueryString.Get("hiddenUserLogin"));
        }
    }
}

<div class="Search_Container">
    <form method="get">
        <input type="text" name="inputField" value="@queryData">
        <input type="submit" class="Search_Button" name="submitButton" value="Search">
    </form>
    @{
        if (Request.QueryString.Count > 0)
        {
            <div class="Found_Users">
                @{
                    if (foundUsers.Count == 0)
                    {
                        <p>User not found</p>
                    }

                    else
                    {
                        for (int i = 0; i < foundUsers.Count; i++)
                        {
                            <form method="get" class="FoundUser_Form">
                                <p class="Bold pNoDefMargin">@foundUsers[i].Login</p>
                                <input class="Visit_Button" type="submit" value="Go to user page" name="redirectToUser">
                                <input type="hidden" value="@foundUsers[i].Login" name="hiddenUserLogin" />
                            </form>
                        }
                    }
                }
            </div>
        }
    }
</div>