.Background_Style {
    background-image: url('../SiteImages/bg-image.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.Button_PageSwap {
    background-color: #322a79;
}
