.Search_Container {
    background-color: #E4FAF8;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30%;
    min-width: 200px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 35%;
    border: 2px solid #262020;
    border-radius: 10px;
    padding: 10px 5px 10px 5px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.12);
}

.Search_Button {
    background-color: #abffaa;
    font-weight: 600;
    border: 2px solid #676565;
    border-radius: 3px;
    padding: 5px 3px;
}

.Found_Users {
    display: flex;
    flex-direction: column;
}

.FoundUser_Form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #6f6f6f;
    border-radius: 3px;
    padding: 0 5px 5px 5px;
    margin-top: 5px;
}