.UserPage_Style {
    height: 100%;
    background-color: #defaf8;
}

.User_Header {
    padding: 10px;
    font-weight: bold;
    font-size: 1.2em;
}

.Select_Friend {
    border: none;
    background-color: #3ca7e6;
    font-size: 1.1em;
}

.Content {
    display: flex;
    align-items: stretch;
}

.Content_Left {
    width: 20%;
    flex-direction: column;
    background-color: #3ca7e6;
    border-right: 2px solid #818181;
    border-radius: 2px;
}

.Content_Middle {
    width: 60%;
    flex-direction: column;
    background-color: #ffffff;
}

.Content_Right {
    width: 20%;
    flex-direction: column;
    background-color: #3ca7e6;
    border-left: 2px solid #818181;
    border-radius: 2px;
}

.Message_History {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: fit-content;
    margin: 10px 10px 20px 10px;
    background-color: #f9fff0;
}

.Message {
    background-color: #5f8bc7;
    border: 2px solid #C5C5C5;
    border-radius: 3px;
    padding: 10px;
    margin: 10px 5px;
}

.Send_Container {
    margin: 10px 5px;
}

.Sender_Login {
    font-weight: bold;
}

.Edited {
    font-weight: lighter;
    color: #CBCBCB;
}

.Button_Container {
    display: flex;
    margin-left: 5px;
}

.Message_Button {
    background-color: #0045FF;
    color: #FFFFFF;
    border: none;
    border-radius: 2px;
    padding: 5px 10px;
    margin-right: 5px;
}

.Delete {
    background-color: #FF4B4B;
}

.Send {
    background-color: #16D800;
}

.Recieved {
    background-color: #dae4f2;
}

.TextField {
    width: fit-content;
    margin: 20px 10px 5px 10px;
}

.Icon {
    width: 25px;
    height: 25px;
}
