@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Styles/BasicStyles.css" rel="stylesheet" />
    <link href="~/Styles/UserPage.css" rel="stylesheet" />
    <link href="~/Styles/SignForm.css" rel="stylesheet" />
    <link href="~/Styles/UserInfoPage.css" rel="stylesheet" />
    <link href="~/Styles/SearchPage.css" rel="stylesheet" />
    <link href="~/Styles/ErrorsStyle.css" rel="stylesheet" />
    <title></title>
</head>
<body class="Background_Style">
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <div>
        @RenderBody()
    </div>
</body>
</html>
